@page
@model MilkStore.WebApp.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}


<h1>Login</h1>

<form method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Username"></label>
        <input asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>
    <button type="submit">Login</button>
</form>

@* @if (ViewData["UserInfo"] != null)
{
    <pre>@ViewData["UserInfo"]</pre>
}
else
{
    <p>No user information available.</p>
} *@

<a asp-page-handler="GoogleLogin">Login with Google</a>
